.h {
    display: inline-block;
    font-weight: bold;
    margin: 0;
    margin-bottom: 40px;
    padding: 0 10px;
    
    &_center{
        text-align: center;
    }
    &_start{
        text-align: flex-start;
    }
    &_end{
        text-align: end;
    }
}

h1.h{
    font-size: 2.5em;
}
h2.h{
    font-size: 2.2em;
}
h3.h{
    font-size: 1.9em;
}
h4.h{
    font-size: 1.6em;
}
h5.h{
    font-size: 1.3em;
}
h6.h{
    font-size: 1em;
}
