.link {
    cursor: pointer;
    padding: 5px;
    font-size: 1em;
    letter-spacing: 1.5px;
    &_nav{
        font-size: 1.1em;
        font-weight: 600;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        
    }
    &:hover{
        text-decoration: underline;
    }
}